@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply m-0 min-h-full w-full;
  }

  body {
    @apply overflow-x-hidden bg-slate-50 text-slate-900 antialiased;
  }
}
